<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: #fff;
            background-color: #027eae;
            font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px;
        }
        a, a:visited, a:hover {
            color: #fff;
        }
    </style>
</head>
<body>
<h1>Bouser</h1>
<h2>Event-driven application server</h2>
{#<h3>Loaded components:</h3>#}
{#<ul>#}
{#    {% for name, component in components | dictsort -%}#}
{#    <li>{{ name }}</li>#}
{#    {%- endfor %}#}
{#</ul>#}
</body>
</html>